# NewsAPI
NEWSAPI_KEY=your_newsapi_key_here
NEWSAPI_BASE_URL=https://newsapi.org/v2/everything
NEWSAPI_QUERY=technology
NEWSAPI_PAGE_SIZE=50

# AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
KINESIS_STREAM_NAME=aurora-news-stream

# App Settings
POLL_INTERVAL_SECONDS=60
